{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="user_info">
            <h1>Привет, {{ username }}</h1>
            <a href="{% url 'logoutadmin' %}" class="btn btn-outline-dark logout_btn">Выйти</a>
        </div>
        <div class="just_block">
            <a href="{% url 'article_edit' 'create' %}" class="btn btn-primary add_btn">Добавить Стастью</a>
            <div class="articles_amount">Количество статей: {{amount}}</div>
        </div>
        {% if articles %}
        <div class="row">
            {% for a in articles %}
                <div class="col-5">
                    <div class="article_block">
                        <a href="{% url 'articles:article_page' a.id %}" class="article_block_link"></a>
                        <img class="article_block_image" src="{% static a.image_path %}" alt="Article Image">
                        <div class="article_block_title">{{ a.title }}</div>
                        <div class="article_block_date">{{ a.date }}</div>
                    </div>
                </div>
                <div class="col-1" id="{{ a.id }}">
                    <a href="{% url 'article_edit' a.id %}" class="btn btn-dark edit_btn">
                        <img src="{% static 'images/edit.png' %}" alt="">
                    </a>
                    <button class="btn btn-danger delete_btn" data-toggle="modal" data-target="#exampleModal">
                        <img src="{% static 'images/delete.png' %}" alt="">
                    </button>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                    <div class="w-100"></div>
                {% endif %}
            {% endfor %}

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Погоди</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Ты точно хочешь удалить эту статью?
                  </div>
                  <div class="modal-footer">
                      <form action="{% url 'index' %}" method="POST">
                          {% csrf_token %}
                          <input type="number" id="modal_value" name="modal_value">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                          <button type="submit" class="btn btn-primary">Удалить</button>
                      </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
        {% else %}
            <h3>There is not any article...</h3>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
<script>
    $(".delete_btn").click(function(){
        var id = this.parentNode.id;
        document.getElementById("modal_value").value = id;
        console.log(id);
    });
</script>
{% endblock %}

