{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="content">
            <h1 class="article_title">{{ article.title }}</h1>
            <div class="article_date">{{ article.date }}</div>
            <img class="article_image" src="{% static article.image_path %}" alt="Article Image">
            {% for t in article.text %}
                <p class="article_text">{{ t }}</p>
            {% endfor %}
            <div class="article_date">{{ article.date }}</div>
        </div>
{% endblock %}