{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if latest_article %}
        <div class="latest_article">
            <div class="latest_image">
                <img src="{% static latest_article.image_path %}" alt="Article Image">
            </div>
            <div class="latest_title_block">
                <div class="svezhak">Свежак🔥</div>
                <h1 class="latest_title"><a href="{% url 'articles:article_page' latest_article.id %}">{{ latest_article.title }}</a></h1>
                <h5 class="latest_date">{{ latest_article.date }}</h5>
            </div>
        </div>
    {% endif %}

    <div class="content">
        <div class="row">
            {% for a in articles %}
                <div class="col-6">
                    <div class="article_block">
                        <a href="{% url 'articles:article_page' a.id %}" class="article_block_link">
                            <img class="article_block_image" src="{% static a.image_path %}" alt="Article Image">
                            <div class="article_block_title">{{ a.title }}</div>
                            <div class="article_block_date">{{ a.date }}</div>
                        </a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                    <div class="w-100"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        var parentwidth = $(".latest_article").width();
        $(".latest_title_block").width(parentwidth-80);

        $('.latest_title_block').hover(function() {
            $('.latest_image img').css('transform', 'scale(1.05)');
        }, function() {
            // on mouseout, reset the background colour
            $('.latest_image img').css('transform', 'scale(1)');
        });

        $('.latest_image').hover(function() {
            $('.latest_image img').css('transform', 'scale(1.05)');
        }, function() {
            // on mouseout, reset the background colour
            $('.latest_image img').css('transform', 'scale(1)');
        });
    });
</script>
{% endblock %}